{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>

<body data-bs-theme="dark">

    {% if 'navbar.html' in template_dirs %}
    {% include "navbar.html" %}
    {% endif %}

    <div class="container-sm">
        <main class="form-signin m-auto">
            <form action="{%url 'login'%}" method="post">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                <div class="form-floating my-2">
                    <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
                    <label for="email">Email address</label>
                </div>

                <div class="form-floating">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                    <label for="password">Password</label>
                </div>

                <div class="form-check text-start my-3">
                    <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Remember me
                    </label>
                </div>
                <input class="btn btn-primary w-100 py-2" type="submit" value="Sign in">
            </form>

            <div class="container text-center py-3">
                <p>Don't have an account?</p>
                <a href="{%url 'register'%}">Register</a>
            </div>
        </main>
    </div>
    {% if 'footer.html' in template_dirs %}
    {% include "footer.html" %}
    {% endif %}


</body>

</html>